/*  your css code here. If applicable */
.circle{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.green{
	background-color: green;
	
}
.yellow{
	background-color: yellow;

}
.red{
	background-color: red;
	
}

.container{
	display: flex;
	gap: 20px;
	border: 5px solid black;
	border-radius: 50px;
	height: 100px;
	width: 320px;
	padding: 40px 70px;
}